@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components
{
  .section
  {
    @apply w-full
  }

  .subsection
  {
    @apply h-full w-full p-2
  }

  .title
  {
    @apply font-zrnic text-4xl text-right mr-32
  }

  .line
  {
    @apply mx-auto w-4/5 my-3
  }
}

.aurora-outer
{
  background: linear-gradient(to right, #6600cc, #33ffff);
  height: 100%;
}

.aurora-middle
{
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.842), #6600cc65);
  height: 100%;
}

.aurora-inner
{
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.658));
  height: 100%;
}