@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components
{
  .section
  {
    @apply w-full
  }

  .subsection
  {
    @apply h-full w-full p-2
  }

  .title
  {
    @apply font-zrnic text-4xl
  }

  .line
  {
    @apply mx-auto w-4/5 my-3 border-slate-900
  }

  .downLoadbtn
  {
    @apply bg-slate-900 p-10 rounded-lg drop-shadow-lg flex flex-row 
    text-white text-lg font-novaflat relative w-full items-center
    hover:bg-gradient-to-r from-primary to-secondary
    hover:text-shadow-md hover:shadow-white
    transition-all duration-300
  }
}

.aurora-outer
{
  background: linear-gradient(to bottom right, #00ff55, #6600cc);
  height: 100%;
}

.aurora-middle
{
  background: linear-gradient(to top right,#6600ccb4, #33ffff60, transparent);
  height: 100%;
}

.aurora-inner
{
  background: radial-gradient( #6600cc62, rgba(0, 0, 0, 0.582));
  height: 100%;
}